





body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}


ul {
  list-style-type: none;
}

.hero-btn {
  border-radius: 4px;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-list {
  display: flex;
  justify-content: space-between;
}

.web {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 93px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  animation-name: header-anim;
}
 .web-footer-part:hover {
  color: #2196f3;
}

.portfolio-list-name {
  position: relative;
  z-index: 2;
  background-color: #ffff;
  width: 370px;
  height: 108px;
  padding: 21px 0 0 0;
}


.web-part {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.web:hover {
  color: #2196f3;
}

.web-footer:hover {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
}
.addres-item {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  animation-name: header-anim;
  
}

.addres-text {
  color: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-text:hover {
  color: #2196f3;
}

.addres-svg {
  margin-right: 10px;
  vertical-align: middle;
  fill: #757575;
  
}
.addres-use-svg {
  animation-name: fill;
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}


.addres-item:hover .addres-use-svg {
  fill: #2196f3;
}

.nav-item {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  animation-name: header-anim;
}

@keyframes header-anim {
  0%{
    color: initial;
  }
  100%{
    color: #2196f3;
  }
}


.addres-list {
  display: flex;
  gap: 50px;
  align-items: center;
}


.nav-menu-link.current::after {
  content: "";
  position: relative;
  display: block;
  left: 0;
  top: 28px;
  bottom: -1px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover {
  width: 100%;
  color: #2196f3;
}

.nav-menu-link.current {
  color: #2196f3;
}

.nav-menu-link {
  position: relative;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  gap: 40px;
  font-size: 14px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover .nav-menu-link {
  color: #2196f3;
}
.header-mail {
  color: #757575;
}
.header-telephone {
  color: #757575;
}

.hero {
  background-image: url("../images/overlay.jpg");
  opacity: 0, 5;
  background-repeat: no-repeat;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;

}

.hero-btn {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  height: 120px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  font-style: normal;
  text-transform: uppercase;
  margin: auto;
}

.title-h2 {
  margin-bottom: 50px;
  color: #212121;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.team-list {
  display: flex;
  flex-direction: row;
}

.adventages-list {
  display: flex;
  gap: 30px;
}

.adventages-list-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.adventages-list-item:nth-child(1)::before {
  background-image: url("../images/antena.svg");
}

.adventages-list-item:nth-child(2)::before {
  background-image: url("../images/astronaut.svg");
}

.adventages-list-item:nth-child(3)::before {
  background-image: url("../images/clock.svg");
}

.adventages-list-item:nth-child(4)::before {
  background-image: url("../images/diagram.svg");
}

.adventages-list-tittle {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}

.adventages-list-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.photo {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.work-title {
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list-item {
  position: relative;
}



.work-list-name {
  display: block;
  background-color: #2f303a;
  opacity: 80%;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  position: relative;
  top: 73px;
}

.work-name-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  padding-top: 27px;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 27px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background: #f5f4fa;
}

.team-user {
  border: #000;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}



.background-div-svg {
  display: flex;
  justify-content: center;
  gap: 10px
  ;
}

.background-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 2px solid none;
  border-radius: 45px;
  fill: #afb1b8;
  animation-name: svg-background;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.background-div:hover {
  background-color: #2196f3;
  fill: #fff;
  border: 2px solid none;
  border-radius: 45px;
  
}

.footer-svg {
  width: 20px;
  height: 20px;
  background-size: 44px;
}

.footer-background-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 2px solid none;
  border-radius: 45px;
  fill: #fff;
  background-color: rgba(0, 0, 0, 10%);
  margin-right: 10px;
  animation-name: svg-background;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes svg-background{
  0%{
    background-color: initial;
  }
  100%{
    background-color: #2196f3;
  }
}

.footer-background-div:hover {
  background-color: #2196f3;
  fill: #fff;
  border: 2px solid none;
  border-radius: 45px;
  
}

.footer-svg-title {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.work-svg {
  width: 20px;
  height: 20px;
  background-size: 44px;
}

.work-svg:hover {
  fill: #fff;
}

.name {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.robota {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin: 10px 0 30px 0;
  
}

.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}

.addres {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.adventages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work {
  display: flex;
  padding-bottom: 94px;
  text-align: center;
}

.users {
  padding: 94px 0 94px 0;
}

.users-list-title {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.users-box {
  display: flex;
  padding-top: 94px;
  padding-bottom: 95px;
  display: flex;
  justify-content: space-between;
}

.users-list {
  display: flex;
  gap: 30px;
}

.users-list-box {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  border: #afb1b8 1px solid;
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.users-list-box:hover .user-svg-use {
  fill: #2196f3;
}

.users-list-box:hover {
  border-color: #2196f3;
  border-radius: 4px;
  
}

.users-svg {
  fill: #afb1b8;
  animation-name: fill;
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.users-list-svg {
  display: block;
  margin: 0 auto;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.users-list-svg:hover {
  border: #2196f3;
  
}

.users-list-box:hover .users-svg {
  fill: #2196f3;
  
}

.web-footer-part {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.web-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 60px;
  text-decoration: none;
}

.addres {
  padding-top: 10px;
}

.mail-footer {
  padding-top: 5px;
}

.tel-footer {
  padding-top: 5px;
  padding-bottom: 60px;
}



.footer-background {
  display: flex;
  justify-content: center;
}

.footer-content-item {
  margin-right: 70px;
}

.footer-social-svg {
  margin-top: 70px;
  margin-right: 93px;
}

/* portfolio */



.portf-button {
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-button:hover {
  background-color: #2196f3;
  color: #fff;
}



.header-list {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 25px 0;
}




.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 56px;
  

}

.portfolio-section {
  padding-bottom: 94px;
}

.portf-button {
  background-color: #f5f4fa;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
  font-size: large;
  border: none;
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 94px;
}
.container-portfolio {
  width: 1200px;
}







.portf-list-item:hover .overflow-text {
  background-color: rgba(6, 139, 255, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
}
.portf-list-item {
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
}
.portfolio-cover-image {
  width: 370px;
  position: relative;
   overflow: hidden; 
  
}
.overflow-text {
  padding: 63px 44px 63px 24px;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  position: absolute;
  top: 0;
  width: 370px;
  height: 294px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #2196f3;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portf-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.portf-list-work {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin-left: 20px;
}

.portf-work-section {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  margin-bottom: 20px;
  margin-left: 20px;
}

footer {
  background: #2f303a;
}

.web-footer-part {
  color: #2196f3;

  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.web-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-top: 60px;
  margin-bottom: 20px;
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.addres {
  padding-top: 20px;
}

.mail-footer {
  padding-top: 5px;
}

.tel-footer {
  padding-top: 5px;
  padding-bottom: 60px;
}

.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.addres {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 20px;
}

.footer-background {
  display: flex;
  justify-content: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
}

.footer-svg {
  width: 20px;
  height: 20px;
  background-size: 44px;
}



.footer-background-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 2px solid none;
  border-radius: 45px;
  fill: #fff;
  background-color: rgba(0, 0, 0, 10%);
  margin-right: 10px;
}

.footer-background-div:hover {
  background-color: #2196f3;
  fill: #fff;
  border: 2px solid none;
  border-radius: 45px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-title {
  text-align: start;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
  display: inline-block;
}

.footer-media-form {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 70px;
}

.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.container-svg-footer {
  display: flex;
  gap: 24px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: flex;
  gap: 24px;
  flex-direction: inherit;
  align-items: center;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 0 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #fff;
}
.footer-form-btn {
  height: 40px;
  min-width: 165px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  color: #fff;
  text-align: center;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.footer-form-btn:hover {
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Анімація для transform і opacity */

}

.footer-form-btn:focus {
  background-color: #2196f3;
}
.footer-button-icon {
  margin-left: 16px;
  fill: #fff;
}

.privacy-policy-link {
  color: #2196f3;
}

.backdrop {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 528px;
  padding: 40px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-2%, -1%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 12px;
}
.modal-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.modal-list-label {
  letter-spacing: 0.01em;

  padding-right: 7px;
  position: relative;
  font-size: 12px;
}
.modal-list-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding: 12px 20px 12px 42px;
  margin-top: 4px;
  outline: none;
  cursor: pointer;
}
.modal-svg {
  position: absolute;
  left: 16px;
  top: 17px;
}
.modal-list-input:hover {
  border-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list-input:hover + .modal-svg {
  fill: #2196f3;
  animation-name: fill;
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

@keyframes fill {
  0% {
    fill: initial;
  }
  100% {
    fill: #2196f3;
  }
}
.modal-textarea {
  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  margin: 8px 0 0 0;
}
.div-modal-check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 5px;
}
.div-modal-check:checked::after {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  border: 3px solid #2196f3;
}

.modal-list-item {
  margin-bottom: 8px;
}
.div-modal-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 40px;
}
.div-modal-link {
  color: #2196f3;
  text-decoration: underline;
}
.div-modal-bth-sbm {
  width: 200px;
  height: 50px;
  display: block;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  margin: 0 auto;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}
.div-modal-bth-close {
  right: px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #1e1e1e10;
  position: relative;
  left: 468px;
}
.div-modal-svg-close {
  fill: #757575;
  width: 11px;
  height: 11px;
}
.div-modal-btn-close:hover {
  fill: #2196f3;
  animation-name: fill;
  transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}

.input-wrap {
  margin-top: 8px;
  position: relative;
}

.modal-list-name {
  color: #757575;
}
.modal-textarea:hover {
  border-color: #2196f3;
  animation-name: input-border;
  
  
}

@keyframes input-border {
  0% {
    fill: initial;
  }
  100% {
    fill: #2196f3;
  }
}


