.footer-background {
    display: flex;
    justify-content: center;
  }
  
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  }
  
  .footer .container {
    display: flex;
  }


  
  
  
  
  
  .privacy-policy-link {
    color: #2196f3;
  }

 
  .footer-spacer__logo--studio {
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    
  }
  

  
  .addres {
    padding-top: 10px;
  }
  
  .mail-footer {
    padding-top: 5px;
    margin-top:  20px;
  }
  
  .tel-footer {
    padding-top: 5px;
    padding-bottom: 60px;
  }
  
  .footer-background {
    display: flex;
    justify-content: center;
  }
  
  .footer-content-item {
    margin-right: 70px;
  }
  
 

  .mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
}

.web-footer-part:hover {
    color: #2196f3;
  }

  .addres__text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: .42px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    word-wrap: break-word;
}
  