
  
  .header { 
  padding: 24px 0 25px;
  }
  
  

  .header .container{
    display: flex;
    justify-content: space-between;
    
  }
  
  .logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-right: 93px;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    animation-name: header-anim;
  }
  
 

  .header-spacer__logo {
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }
  
  .logo:hover {
    color: #2196f3;
  }
  
  // .web-footer:hover {
  //   color: #2196f3;
  // }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation__list {
    display: flex;
    gap: 50px;
  }
  
  .addres-list__item {
    color: #757575;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    animation-name: header-anim;
  }
  
  .addres-list__link {
    color: inherit;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .addres-list__link:hover {
    color: #2196f3;
  }
  
  .addres-list__svg {
    margin-right: 10px;
    vertical-align: middle;
    fill: #757575;
  }
  
  .addres-list__icon {
    animation-name: fill;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .addres-list__item:hover .addres-list__icon {
    fill: #2196f3;
  }
  
  .navigation__item {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    animation-name: header-anim;
  }
  
  @keyframes header-anim {
    0% {
      color: initial;
    }
    100% {
      color: #2196f3;
    }
  }
  .addres-list {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  
  .nav-list__link.nav-list__link--current::after {
    content: "";
    position: relative;
    display: block;
    left: 0;
    top: 28px;
    bottom: -1px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-list__link:hover {
    width: 100%;
    color: #2196f3;
  }
  
  .nav-list__link.nav-list__link--current {
    color: #2196f3;
  }
  
  .nav-list__link {
    position: relative;
    color: #2e2f42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    gap: 40px;
    font-size: 14px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-list__item:hover .navigation__link {
    color: #2196f3;
  }
  
